* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Spartan", sans-serif;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  flex-direction: column;
  background: #18171f;
  padding: 2rem 1rem;
  border-radius: 0.2rem;
  min-height: 100vh;
  margin: 0 auto;
}

#input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todoInput {
  border-radius: 5px;
  padding: 6px 6px;
}

#addButton {
  margin-left: 0.5rem;
}

#task-container {
  font-size: 24px;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  width: 100%;
  min-height: 75%;
}

input[type="text"]:focus {
  width: 100%;
  align-self: flex-start;
  padding: 0.25rem 2rem;
}

#task-container button {
  font-size: 12px;
  flex-grow: 1;
  color: black;
  background: #209aaf;
  border: 1px solid #209aaf;
  width: fit-content;
  padding: 0px 0;
  margin-right: 3px;
}

.todo-item-input {
  height: 30px;
  display: block;
  background: transparent;
  color: white;
  border: none;
}

.focused {
  border-bottom: 1px solid white;
}

.todo-item {
  display: flex;
  justify-content: space-around;
  background: #209aaf;
  border: 1px solid black;
  padding: 12px 6px;
  margin-bottom: 24px;
  border-radius: 4px;
  box-shadow: 1px solid black;
}

@media screen and (min-width: 1028px) {
  section {
    border-radius: 10px;
    height: 85vh;
  }
}
